extends layout

block content
  div.row.cf_main
    div.container
      section.list_items

        each news, i in newslist
          article
            div.inner
              div.topBar
                div.tb_author
                  if news.picture = ' '
                    img.ah_logo(src="/images/pl.png")
                  else
                    img.ah_logo(src="#{news.picture}")

                  div.ah_name Life
                  time.ah_time= news.date
                div.icon.icon-action-menu
              a.pic(href="/")

                if news.picture = ' '
                  img.images(src="/images/pl.png")
                else
                  img.images(src="#{news.picture}")
              div.info
                a.title(href="/")= news.title
                div.tags
                  //each listCategory, i in news.categories
                  a(href="/")= news.categories
              div.action
                div.icon.icon-hook